@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a simple school, here to provide basic lessons in c# and asp.net.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p>Teachers can use this website to create new courses and other useful tools.</p>
        </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>Students can use this website to check their grades and enrolled courses.</p>
    </div>
</div>